.BackgroundLetters {
  position: absolute;

  &__laba {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 52px;
  }

  &__letter {
    z-index: 10;

    svg {
      display: block;
    }

    &_l {
      margin-right: 19px;
    }
    &_a {
      margin-left: 6px;
    }
    &_b {
      margin-left: 19px;
    }
  }

  &__spot {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: 24px;
  }
}
