.FlareComponent {
  position: absolute;
  top: 30%;
  left: 10%;
  visibility: hidden;
  animation:
    loadingFlareDisplay 1.5s ease-out 6.5s 1 forwards,
    loadingFlare1 1.5s ease-out 8s 1,
    loadingFlare2 1.5s ease-out 9.5s 1,
    loadingFlare3 1.5s ease-out 11s 1,
    loadingFlare4 1.5s ease-out 12.5s 1,
    loadingFlare5 1.5s ease-out 14s 1 forwards;

  svg {
    mix-blend-mode: overlay;
  }
}

// Анимации остаются такими же, как в оригинале
@keyframes loadingFlareDisplay {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes loadingFlare1 {
  0% {
    top: 30%;
    left: 4%;
  }
  100% {
    top: -23%;
    left: -29%;
  }
}

@keyframes loadingFlare2 {
  0% {
    top: -36%;
    left: 65%;
  }
  100% {
    top: 16%;
    left: 97%;
  }
}

@keyframes loadingFlare3 {
  0% {
    top: -22%;
    left: 40%;
  }
  100% {
    top: -29%;
    left: 5%;
  }
}

@keyframes loadingFlare4 {
  0% {
    top: 38%;
    left: 5%;
  }
  100% {
    top: 90%;
    left: 16%;
  }
}

@keyframes loadingFlare5 {
  0% {
    top: 77%;
    left: 69%;
  }
  100% {
    top: 40%;
    left: 96%;
  }
}
