.FlareComponent {
  position: absolute;
  top: 29%;
  left: 15%;
  visibility: hidden;

  animation:
    loadingFlareDisplay 0.5s linear 6.5s 1 forwards,
    loadingFlareCycle 9s linear 7.5s infinite;

  svg {
    mix-blend-mode: overlay;
  }
}

@keyframes loadingFlareDisplay {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

/* Контейнер для последовательных анимаций 1–5 */
@keyframes loadingFlareCycle {
  0%,
  10% {
    top: 30%;
    left: 4%;
  }

  10%,
  20% {
    top: -54%;
    left: -24%;

    visibility: hidden;
  }

  20%,
  30% {
    visibility: hidden;
    top: -15%;
    left: 46%;
  }

  30%,
  40% {
    visibility: visible;
    top: -14%;
    left: 110%;
  }

  ////////////////////

  40%,
  42% {
    visibility: hidden;
  }

  42%,
  50% {
    visibility: hidden;
    top: 35%;
    left: -28%;
  }
  50%,
  60% {
    visibility: hidden;
    top: 86%;
    left: 22%;
  }

  60%,
  70% {
    visibility: visible;
    top: 35%;
    left: -32%;
  }

  70%,
  71% {
    visibility: hidden;
  }
  71%,
  80% {
    top: 93%;
    left: 60%;
  }

  90%,
  100% {
    visibility: visible;
    top: 33%;
    left: 99%;
  }
}
