.Information {
  $s: &;
  @include containerMob;
  font-family: var(--font-sec);
  font-weight: var(--fw-light);
  padding-top: rem(50);
  padding-bottom: rem(50);

  h1 {
    font-size: clamp(rem(20), 8vw, rem(84));
    line-height: 1;
    font-family: var(--font-prime);
    font-weight: var(--fw-medium);
    margin-bottom: rem(40);
  }

  p {
    font-size: clamp(rem(16), 1vw, rem(32));
    margin-bottom: rem(16);
  }

  /* Стили для планшетной версии сайта блока Information начинаются тут */
  @media all and (min-width: $bp3) {
    @include containerDesk;
    padding-top: rem(100);
    padding-bottom: rem(100);

    p {
      margin-bottom: rem(50);
    }
  }
}
