.LoadingMainScreen {
  $s: &;

  &__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    background-color: white;
    overflow: hidden;
  }

  &__laba {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 52px;
  }

  &__letter {
    z-index: 10;

    svg {
      display: block;
      fill: #ffffff;
    }

    &_l {
      margin-right: 19px;
    }
    &_a {
      margin-left: 6px;
    }

    &_b {
      margin-left: 19px;
    }
  }

  &__spot {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: 24px;
  }

  &__desc {
    font-size: 30px;
  }

  &__baloons {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  $BaloonMoveDuration: 1.5s;
  $BaloonTransitionDelay: 5s;
  $flare-duration: 1.5s;
  $flare-start-delay: 6.5s;

  &__baloon {
    position: absolute;
    overflow: hidden;
    transform-origin: center;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &_c {
      z-index: 10;
      top: -8.89%;
      left: 47.94%;
      scale: 1;
      animation:
        loadingBaloonTransitionC $BaloonMoveDuration linear $BaloonTransitionDelay 1 normal forwards,
        loadingBaloonChangeC $BaloonMoveDuration linear ($BaloonTransitionDelay + $BaloonMoveDuration) infinite alternate forwards;

      @keyframes loadingBaloonTransitionC {
        0% {
          top: -8.89%;
          left: 47.94%;
        }
        100% {
          top: 39.8%;
          left: 30.7%;
        }
      }

      @keyframes loadingBaloonChangeC {
        0% {
          scale: 1;
          top: 39.8%;
          left: 30.7%;
        }
        100% {
          scale: 0.7;
          top: 39%;
          left: 30.8%;
        }
      }
    }

    &_cb2 {
      top: 155%;
      scale: 1;
      left: 42%;
      animation:
        loadingBaloonTransitionCb2 $BaloonMoveDuration linear $BaloonTransitionDelay 1 normal forwards,
        loadingBaloonChangeCb2 $BaloonMoveDuration linear ($BaloonTransitionDelay + $BaloonMoveDuration) infinite alternate forwards;

      @keyframes loadingBaloonTransitionCb2 {
        0% {
          top: 155%;
          left: 42%;
        }
        100% {
          top: 83%;
          left: 39%;
        }
      }

      @keyframes loadingBaloonChangeCb2 {
        0% {
          scale: 1;
          top: 83%;
        }
        100% {
          scale: 1.01;
          top: 84%;
        }
      }
    }

    &_lb2 {
      top: 164.65%;
      scale: 1;
      left: 20.75%;
      animation:
        loadingBaloonTransitionLb2 $BaloonMoveDuration linear $BaloonTransitionDelay 1 normal forwards,
        loadingBaloonChangeLb2 $BaloonMoveDuration linear ($BaloonTransitionDelay + $BaloonMoveDuration) infinite alternate forwards;

      @keyframes loadingBaloonTransitionLb2 {
        0% {
          top: 164.65%;
          left: 20.75%;
        }
        100% {
          top: 74%;
          left: 5%;
        }
      }

      @keyframes loadingBaloonChangeLb2 {
        0% {
          scale: 1;
          rotate: 0deg;
        }
        100% {
          scale: 0.89;
          rotate: 21.79deg;
        }
      }
    }

    &_r {
      top: 5.28%;
      scale: 1;
      left: 134.35%;
      animation:
        loadingBaloonTransitionR $BaloonMoveDuration linear $BaloonTransitionDelay 1 normal forwards,
        loadingBaloonChangeR $BaloonMoveDuration linear ($BaloonTransitionDelay + $BaloonMoveDuration) infinite alternate forwards;

      @keyframes loadingBaloonTransitionR {
        0% {
          top: 5.28%;
          left: 134.35%;
        }
        100% {
          top: 46%;
          left: 92.5%;
        }
      }

      @keyframes loadingBaloonChangeR {
        0% {
          scale: 1;
          top: 46%;
          left: 92.5%;
        }
        100% {
          scale: 1.09;
          top: 48%;
          left: 92.5%;
        }
      }
    }

    &_lt1 {
      top: -56.11%;
      scale: 1;
      left: -77.13%;
      animation:
        loadingBaloonTransitionLt1 $BaloonMoveDuration linear $BaloonTransitionDelay 1 normal forwards,
        loadingBaloonChangeLt1 $BaloonMoveDuration linear ($BaloonTransitionDelay + $BaloonMoveDuration) infinite alternate forwards;

      @keyframes loadingBaloonTransitionLt1 {
        0% {
          top: -56%;
          left: -77%;
        }
        100% {
          top: 7%;
          left: -18%;
        }
      }

      @keyframes loadingBaloonChangeLt1 {
        0% {
          scale: 1;
          top: 7%;
          left: -18%;
        }
        100% {
          scale: 0.95;
          top: 7%;
          left: -20%;
        }
      }
    }

    &_rb2 {
      top: 134.28%;
      scale: 1;
      left: 134.44%;
      animation:
        loadingBaloonTransitionRb2 $BaloonMoveDuration linear $BaloonTransitionDelay 1 normal forwards,
        loadingBaloonChangeRb2 $BaloonMoveDuration linear ($BaloonTransitionDelay + $BaloonMoveDuration) infinite alternate forwards;

      @keyframes loadingBaloonTransitionRb2 {
        0% {
          top: 134.28%;
          left: 134.44%;
        }
        100% {
          top: 63%;
          left: 79%;
        }
      }

      @keyframes loadingBaloonChangeRb2 {
        0% {
          scale: 1;
          top: 63%;
          left: 79%;
        }
        100% {
          top: 64%;
          left: 79%;
          scale: 0.9;
        }
      }
    }

    &_rt3 {
      top: -96.44%;
      scale: 1;
      left: 120.81%;
      animation:
        loadingBaloonTransitionRt3 $BaloonMoveDuration linear $BaloonTransitionDelay 1 normal forwards,
        loadingBaloonChangeRt3 $BaloonMoveDuration linear ($BaloonTransitionDelay + $BaloonMoveDuration) infinite alternate forwards;

      @keyframes loadingBaloonTransitionRt3 {
        0% {
          top: -96.44%;
          left: 120.81%;
        }
        100% {
          top: 5%;
          left: 76%;
        }
      }

      @keyframes loadingBaloonChangeRt3 {
        0% {
          scale: 1;
          top: 5%;
          left: 76%;
          scale: 1;
        }
        100% {
          scale: 1.02;
          top: 7%;
          left: 76%;
          rotate: -21.5deg;
        }
      }
    }

    &_ct1 {
      top: -100.33%;
      scale: 1;
      left: 33.44%;
      animation:
        loadingBaloonTransitionCt1 $BaloonMoveDuration linear $BaloonTransitionDelay 1 normal forwards,
        loadingBaloonChangeCt1 $BaloonMoveDuration linear ($BaloonTransitionDelay + $BaloonMoveDuration) infinite alternate forwards;

      @keyframes loadingBaloonTransitionCt1 {
        0% {
          top: -100%;
          left: 33%;
        }
        100% {
          top: 9%;
          left: 29.5%;
        }
      }

      @keyframes loadingBaloonChangeCt1 {
        0% {
          top: 9%;
          left: 29.5%;
        }
        100% {
          scale: 1.15;
          top: 9%;
          left: 29.2%;
        }
      }
    }

    &_rt2 {
      top: -58.11%;
      scale: 1;
      left: 122.38%;
      animation:
        loadingBaloonTransitionRt2 $BaloonMoveDuration linear $BaloonTransitionDelay 1 normal forwards,
        loadingBaloonChangeRt2 $BaloonMoveDuration linear ($BaloonTransitionDelay + $BaloonMoveDuration) infinite alternate forwards;

      @keyframes loadingBaloonTransitionRt2 {
        0% {
          top: -58.11%;
          left: 122.38%;
        }
        100% {
          top: 26%;
          left: 86%;
        }
      }

      @keyframes loadingBaloonChangeRt2 {
        0% {
          top: 26%;
          left: 86%;
        }
        100% {
          top: 25%;
          left: 86%;
          scale: 1.1;
        }
      }
    }

    &_rt1 {
      top: -39%;
      scale: 1;
      left: 107%;
      animation:
        loadingBaloonTransitionRt1 $BaloonMoveDuration linear $BaloonTransitionDelay 1 normal forwards,
        loadingBaloonChangeRt1 $BaloonMoveDuration linear ($BaloonTransitionDelay + $BaloonMoveDuration) infinite alternate forwards;

      @keyframes loadingBaloonTransitionRt1 {
        0% {
          top: -39.99%;
          left: 107.73%;
        }
        100% {
          top: 19.5%;
          left: 72%;
        }
      }

      @keyframes loadingBaloonChangeRt1 {
        0% {
          scale: 1;
          top: 19.67%;
          left: 71.63%;
        }
        100% {
          scale: 0.95;
          top: 18%;
          left: 72%;
        }
      }
    }

    &_rb1 {
      top: 95.42%;
      scale: 1;
      left: 124.5%;
      animation:
        loadingBaloonTransitionRb1 $BaloonMoveDuration linear $BaloonTransitionDelay 1 normal forwards,
        loadingBaloonChangeRb1 $BaloonMoveDuration linear ($BaloonTransitionDelay + $BaloonMoveDuration) infinite alternate forwards;
    }

    @keyframes loadingBaloonTransitionRb1 {
      0% {
        top: 95.42%;
        left: 124.5%;
      }
      100% {
        top: 73%;
        left: 78.5%;
      }
    }

    @keyframes loadingBaloonChangeRb1 {
      0% {
        scale: 1;
        top: 73%;
        left: 78.5%;
      }
      100% {
        scale: 0.9;
        top: 70%;
        left: 78.8%;
      }
    }

    &_rb3 {
      top: 92.07%;
      scale: 1;
      left: 137.38%;
      animation:
        loadingBaloonTransitionRb3 $BaloonMoveDuration linear $BaloonTransitionDelay 1 normal forwards,
        loadingBaloonChangeRb3 $BaloonMoveDuration linear ($BaloonTransitionDelay + $BaloonMoveDuration) infinite alternate forwards;
    }

    @keyframes loadingBaloonTransitionRb3 {
      0% {
        top: 92.07%;
        left: 137.38%;
      }
      100% {
        top: 64.11%;
        left: 89.25%;
      }
    }

    @keyframes loadingBaloonChangeRb3 {
      0% {
        scale: 1;
        top: 64.11%;
        left: 89.25%;
      }
      100% {
        scale: 1.08;
        top: 64%;
        left: 91%;
      }
    }

    &_ct2 {
      top: -48.78%;
      left: 32.25%;
      animation:
        loadingBaloonTransitionCt2 $BaloonMoveDuration linear $BaloonTransitionDelay 1 normal forwards,
        loadingBaloonChangeCt2 $BaloonMoveDuration linear ($BaloonTransitionDelay + $BaloonMoveDuration) infinite alternate forwards;
    }

    @keyframes loadingBaloonTransitionCt2 {
      0% {
        top: -48.78%;
        left: 32.25%;
      }
      100% {
        top: 16.5%;
        left: 35.5%;
      }
    }

    @keyframes loadingBaloonChangeCt2 {
      0% {
        scale: 1;
        top: 16.5%;
        left: 35.5%;
      }
      100% {
        scale: 0.8;
        top: 15.7%;
        left: 35.4%;
      }
    }

    &_ct3 {
      top: -26.67%;
      scale: 1;
      left: 30.31%;
      animation:
        loadingBaloonTransitionCt3 $BaloonMoveDuration linear $BaloonTransitionDelay 1 normal forwards,
        loadingBaloonChangeCt3 $BaloonMoveDuration linear ($BaloonTransitionDelay + $BaloonMoveDuration) infinite alternate forwards;
    }

    @keyframes loadingBaloonTransitionCt3 {
      0% {
        top: -26.67%;
        left: 30.31%;
      }
      100% {
        top: 24.5%;
        left: 34%;
      }
    }

    @keyframes loadingBaloonChangeCt3 {
      0% {
        scale: 1;
        top: 24.5%;
        left: 34%;
      }
      100% {
        scale: 0.87;
        top: 25%;
        left: 33.8%;
      }
    }

    &_lb1 {
      top: 226.67%;
      scale: 1;
      left: -20.13%;
      animation:
        loadingBaloonTransitionLb1 $BaloonMoveDuration linear $BaloonTransitionDelay 1 normal forwards,
        loadingBaloonChangeLb1 $BaloonMoveDuration linear ($BaloonTransitionDelay + $BaloonMoveDuration) infinite alternate forwards;
    }

    @keyframes loadingBaloonTransitionLb1 {
      0% {
        top: 226.67%;
        left: -20.13%;
      }
      100% {
        top: 67%;
        left: -3%;
      }
    }

    @keyframes loadingBaloonChangeLb1 {
      0% {
        top: 67%;
        left: -3%;
      }
      100% {
        top: 65%;
        left: -3%;
      }
    }

    &_lt2 {
      top: 29.22%;
      scale: 1;
      left: -34.83%;
      animation:
        loadingBaloonTransitionLt2 $BaloonMoveDuration linear $BaloonTransitionDelay 1 normal forwards,
        loadingBaloonChangeLt2 $BaloonMoveDuration linear ($BaloonTransitionDelay + $BaloonMoveDuration) infinite alternate forwards;
    }
    @keyframes loadingBaloonTransitionLt2 {
      0% {
        top: 29.22%;
        left: -34.83%;
      }
      100% {
        top: 21%;
        left: -7%;
      }
    }

    @keyframes loadingBaloonChangeLt2 {
      0% {
        top: 21%;
        left: -7%;
      }
      100% {
        scale: 0.95;
        top: 23%;
        left: -7%;
      }
    }

    &_cb1 {
      top: 128.89%;
      scale: 1;
      left: 49.88%;
      animation:
        loadingBaloonTransitionCb1 $BaloonMoveDuration linear $BaloonTransitionDelay 1 normal forwards,
        loadingBaloonChangeCb1 $BaloonMoveDuration linear ($BaloonTransitionDelay + $BaloonMoveDuration) infinite alternate forwards;
    }

    @keyframes loadingBaloonTransitionCb1 {
      0% {
        top: 128.89%;
        left: 49.88%;
      }
      100% {
        top: 84%;
        left: 48.5%;
        scale: 1.2;
      }
    }

    @keyframes loadingBaloonChangeCb1 {
      0% {
        scale: 1;
        top: 86%;
        left: 49%;
      }
      100% {
        scale: 1.15;
        top: 84%;
        left: 47%;
      }
    }
  }

  &__flare {
    position: absolute;
    top: 30%;
    left: 10%;
    visibility: hidden;
    animation:
      loadingFlareDisplay $flare-duration ease-out $flare-start-delay 1 forwards,
      loadingFlare1 $flare-duration ease-out ($flare-start-delay + $flare-duration) 1,
      loadingFlare2 $flare-duration ease-out ($flare-start-delay + $flare-duration * 2) 1,
      loadingFlare3 $flare-duration ease-out ($flare-start-delay + $flare-duration * 3) 1,
      loadingFlare4 $flare-duration ease-out ($flare-start-delay + $flare-duration * 4) 1,
      loadingFlare5 $flare-duration ease-out ($flare-start-delay + $flare-duration * 5) 1 forwards;

    svg {
      mix-blend-mode: overlay;
    }

    @keyframes loadingFlareDisplay {
      0% {
        visibility: hidden;
      }
      100% {
        visibility: visible;
      }
    }
    @keyframes loadingFlare1 {
      0% {
        top: 30%;
        left: 4%;
      }

      100% {
        top: -23%;
        left: -29%;
      }
    }
    @keyframes loadingFlare2 {
      0% {
        top: -36%;
        left: 65%;
      }

      100% {
        top: 16%;
        left: 97%;
      }
    }
    @keyframes loadingFlare3 {
      0% {
        top: -22%;
        left: 40%;
      }

      100% {
        top: -29%;
        left: 5%;
      }
    }
    @keyframes loadingFlare4 {
      0% {
        top: 38%;
        left: 5%;
      }

      100% {
        top: 90%;
        left: 16%;
      }
    }
    @keyframes loadingFlare5 {
      0% {
        top: 77%;
        left: 69%;
      }

      100% {
        top: 40%;
        left: 96%;
      }
    }
  }
}
