.LoadingMainScreen {
  $s: &;

  &__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    background-color: white;
    overflow: hidden;
  }

  &__laba {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 52px;
  }

  &__letter {
    z-index: 10;

    svg {
      display: block;
      fill: #ffffff;
    }

    &_l {
      margin-right: 19px;
    }
    &_a {
      margin-left: 6px;
    }
    &_b {
      margin-left: 19px;
    }
  }

  &__spot {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: 24px;
  }

  &__desc {
    font-size: 30px;
    overflow: hidden; // Скрываем буквы, пока они поднимаются снизу
    white-space: nowrap; // Сохраняем строку в одну линию

    span {
      position: relative;
    }
  }

  &__baloons {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__baloon {
    position: absolute;
    overflow: hidden;
    transform-origin: center;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &_c {
      z-index: 10;
    }
  }

  $flare-duration: 1.5s;
  $flare-start-delay: 6.5s;

  &__flare {
    position: absolute;
    top: 30%;
    left: 10%;
    visibility: hidden;
    animation:
      loadingFlareDisplay $flare-duration ease-out $flare-start-delay 1 forwards,
      loadingFlare1 $flare-duration ease-out ($flare-start-delay + $flare-duration) 1,
      loadingFlare2 $flare-duration ease-out ($flare-start-delay + $flare-duration * 2) 1,
      loadingFlare3 $flare-duration ease-out ($flare-start-delay + $flare-duration * 3) 1,
      loadingFlare4 $flare-duration ease-out ($flare-start-delay + $flare-duration * 4) 1,
      loadingFlare5 $flare-duration ease-out ($flare-start-delay + $flare-duration * 5) 1 forwards;

    svg {
      mix-blend-mode: overlay;
    }

    @keyframes loadingFlareDisplay {
      0% {
        visibility: hidden;
      }
      100% {
        visibility: visible;
      }
    }
    @keyframes loadingFlare1 {
      0% {
        top: 30%;
        left: 4%;
      }

      100% {
        top: -23%;
        left: -29%;
      }
    }
    @keyframes loadingFlare2 {
      0% {
        top: -36%;
        left: 65%;
      }

      100% {
        top: 16%;
        left: 97%;
      }
    }
    @keyframes loadingFlare3 {
      0% {
        top: -22%;
        left: 40%;
      }

      100% {
        top: -29%;
        left: 5%;
      }
    }
    @keyframes loadingFlare4 {
      0% {
        top: 38%;
        left: 5%;
      }

      100% {
        top: 90%;
        left: 16%;
      }
    }
    @keyframes loadingFlare5 {
      0% {
        top: 77%;
        left: 69%;
      }

      100% {
        top: 40%;
        left: 96%;
      }
    }
  }
}
