.Balloons {
  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__item {
    position: absolute;
    will-change: transform;
    transform-origin: center center;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &--cb2 {
      width: 37vw;
    }

    &--lb2 {
      width: 23vw;
    }

    &--r {
      width: 6.3vw;
    }

    &--lt1 {
      width: 34vw;
    }

    &--rb2 {
      width: 22vw;
    }

    &--rt3 {
      width: 21vw;
    }

    &--ct1 {
      width: 11vw;
    }

    &--rt2 {
      width: 7vw;
    }

    &--rt1 {
      width: 12vw;
    }

    &--rb1 {
      width: 8vw;
    }

    &--rb3 {
      width: 18vw;
    }

    &--ct2 {
      width: 8vw;
    }

    &--ct3 {
      width: 5vw;
    }

    &--lb1 {
      width: 21.6vw;
    }

    &--lt2 {
      width: 25vw;
    }

    &--cb1 {
      width: 7.4vw;
    }
  }
}
