.AboutCols {
  $s: &;
  @include containerMob;
  @include sectionMarginMob;

  &__title {
    font-size: rem(32);
    line-height: 1.25;
    font-weight: var(--fw-medium);
    margin-bottom: rem(40);
  }

  &__col {
    &:not(:last-child) {
      margin-bottom: rem(60);
    }
  }

  &__text {
    font-family: var(--font-sec);
    font-weight: var(--fw-light);
    font-size: rem(24);
    line-height: 1.33;

    ul li {
      margin-bottom: rem(32);

      &:last-child {
        margin-bottom: 0;
      }
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    font-family: var(--font-sec);
    font-weight: var(--fw-medium);
    font-size: rem(32);
    line-height: 1.25;
    margin-bottom: rem(24);
  }

  @media all and (min-width: $bp3) {
    @include containerDesk;
    margin-top: rem(100);
    margin-bottom: rem(120);

    &__title {
      font-size: clamp(rem(32), 3.5vw, rem(112));
    }
  }

  @media all and (min-width: $bp0) {
    margin-top: 4rem;
    margin-bottom: 4rem;

    &__title {
      margin-bottom: rem(70);
    }

    &__cols {
      display: flex;
      justify-content: space-between;
      gap: rem(32);
    }

    &__col {
      width: 27%;
    }
  }
}
